main {
    min-height: 80vh;
}

.rate {
    color: '#f8e25';
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

h3 {
    padding: 1rem, 0;
}

.rating span {
    margin: 0.1rem;
    color: '#f8e25';
}

.btn-outline-secondary {
    background-color: honeydew;
}